@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.marquee-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.marquee1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: marquee 10s linear infinite;
}

.marquee2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: slide-up 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-right-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Marquee 3 */

.marquee3 {
  display: flex;
  overflow: hidden;
}

.marquee3 > div {
  animation: marquee-scroll 10s linear infinite;
  white-space: nowrap;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 700px) {
  .marquee3 {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .marquee3 > div {
    animation: none;
    white-space: normal;
    transform: none;
    margin-bottom: 10px; /* Adjust as needed */
  }
}

/* Marquee 4 */

.marquee4 {
  display: flex;
  overflow: hidden;
}

.marquee4 > div {
  animation: marquee-scroll4 10s linear infinite;
  white-space: nowrap;
}

@keyframes marquee-scroll4 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 700px) {
  .marquee3 {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .marquee3 > div {
    animation: none;
    white-space: normal;
    transform: none;
    margin-bottom: 10px;
  }
}
